#scroll{
    max-height: 65vh;
    /* height: 78vh; */
    overflow-x: scroll;
}

#fixed {
    position: sticky;
    top: 0;
}

#scr{
    max-height: 78vh;
    overflow-x: hidden;
    overflow: scroll;
}

#scrow {
    overflow-y: scroll;
}
.message {
    position: sticky;
    bottom: 0;
}

.jqv{
    position: sticky;
    top: 0;
}

.bg {
    background: #013159;
    color: #eee;
}