<div class="container">
    <div class="row">
        <div class="col-12 text-white w-100 h5 pb-2 pt-1" style="background-color: #013159;">
            Thom-Chat
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 bg-light d-none d-md-block">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <a href="profile.html"><img src="/assets/images/icons8_Male_User_52px_3.png"
                                            style="width: 40%;" alt=""></a>
                                </div>
                                <div class="col-2 ml-5 mt-3">
                                    <a href=""><img class="ml-4" src="/assets/images/icons8_Loading_50px.png"
                                            style="width: 60%;" alt=""></a>
                                </div>
                                <div class="col-2 mt-3">
                                    <a href=""><img class="ml-2" src="/assets/images/icons8_Plus_64px.png"
                                            style="width: 60%;" alt=""></a>
                                </div>
                                <div class="col-2 mt-3">
                                    <a href=""><img src="/assets/images/icons8_More_52px.png" style="width: 60%;"
                                            alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 mt-3">
                                <img class="ml-4 pl-1" src="/assets/images/icons8_Search_64px.png" style="width: 90%;"
                                    alt="">
                            </div>
                            <div class="col-10 mt-3 pb-2">
                                <input class="pl-5 rounded-pill w-100 border-0 bg-white" style="outline: none;" type=""
                                    placeholder="search or start new chat">
                            </div>
                        </div>

                        <div id="scroll" class="col-12">
                            <div class="row">
                                <div class="col-12 bg-white mt-2 pt-1">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="group2.html" style="text-decoration: none; color: black;">
                                                <h5>LAUTECH FRESHERS</h5><br>
                                                <h6 style="margin-top: -12%;">+234 343 333 3929</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            00:09 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_3_C_52px_1.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="group.html" style="text-decoration: none; color: black;">
                                                <h5>SQI ICT GROUP</h5><br>
                                                <h6 style="margin-top: -12%;">+234 343 333 3929</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:45 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_4_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="" style="text-decoration: none; color: black;">
                                                <h5>Sis Afolake</h5><br>
                                                <h6 style="margin-top: -12%;">Am expecting you</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            05:14 <br>
                                            <h6></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal2.html" style="text-decoration: none; color: black;">
                                                <h5>Bro Adebayo</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            03:24 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_5_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal3.html" style="text-decoration: none; color: black;">
                                                <h5>Tutor Favor</h5><br>
                                                <h6 style="margin-top: -12%;">I will send it soon</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            09:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal4.html" style="text-decoration: none; color: black;">
                                                <h5>Bro Tunde</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            03:24 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_5_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal5.html" style="text-decoration: none; color: black;">
                                                <h5>Sis Victoria</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal5.html" style="text-decoration: none; color: black;">
                                                <h5>Sis Victoria</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal5.html" style="text-decoration: none; color: black;">
                                                <h5>Sis Victoria</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal5.html" style="text-decoration: none; color: black;">
                                                <h5>Sis Victoria</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>
                                    <hr style="margin-left: 17%; width: 65%; margin-top: -1%;">
                                    <div class="row">
                                        <div class="col-2 col-md3">
                                            <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png"
                                                    style="width: 50%;" alt=""></a>
                                        </div>
                                        <div class="col-7 col-md-6">
                                            <a href="personal5.html" style="text-decoration: none; color: black;">
                                                <h5>Sis Victoria</h5><br>
                                                <h6 style="margin-top: -12%;">help me to send it</h6>
                                            </a>
                                        </div>
                                        <div class="col-3 col-md-3 d-sm-none d-md-block">
                                            01:04 <br>
                                            <h6><img class="mt-1" src="/assets/images/icons8_Circled_6_C_52px.png"
                                                    style="width: 30%;" alt=""></h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 bg-light d-none d-md-block" id="scr">
                    <div class="row">
                        <div class="col-12 bg-light pb-2">
                            <div class="row">
                                <div class="col-md-8 col-md- d-flex flex-row">
                                    <a href=""><img src="/assets/images/icons8_Male_User_52px_3.png" style="width: 80%;"
                                            alt=""></a>
                                    <a href="" style="text-decoration: none; color: black; margin-left: 2%;">
                                        <h5>Sis Afolake</h5>
                                        <h6 class="text-muted" style="margin-top: -2%"></h6>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md- mt-2 ml-5">
                                    <a href=""><img src="/assets/images/icons8_Search_64px.png" style="width: 15%;"
                                            alt=""></a>
                                    <a href=""><img class="ml-4" src="/assets/images/icons8_More_52px.png"
                                            style="width: 15%;" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4 ml-4">
                        <div class="row ml-4">
                            <div class="col-md-4 shadow"
                                style="background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">
                                <div class="text-primary mt-1">

                                </div>
                                <div class="mb-4">
                                    hello sir! <span class="text-dark"
                                        style="margin-left: 38%; margin-top: 2%; font-size: small;">08:34</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4 mr-auto">
                            <div class="col-4">

                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-md-4"
                                style=" margin-left: -5%; background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">

                                <div class="mb-4">
                                    yes ma! <span class="text-dark"
                                        style="margin-left: 58%; margin-top: 4%; margin-bottom: -2%; font-size: small;">08:34</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4">
                            <div class="col-md-4 shadow"
                                style="background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">
                                <div class="text-primary mt-1">

                                </div>
                                <div class="mb-4">
                                    good evening <span class="text-dark"
                                        style="margin-left: 58%; font-size: small;">02:14</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="h6 pb-1 rounded text-center mx-auto"
                                style="background-color: darkgrey; width: 10%;">
                                Today
                            </div>
                        </div>
                        <div class="row ml-4 mt-3">
                            <div class="col-md-4 shadow"
                                style="background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">
                                <div class="text-primary mt-1">

                                </div>
                                <div class="mb-4">
                                    how are you <span class="text-dark"
                                        style="margin-left: 38%; margin-top: 2%; font-size: small;">04:44</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4 mr-auto">
                            <div class="col-4">

                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-md-4"
                                style=" margin-left: -5%; background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">

                                <div class="mb-4">
                                    fine <span class="text-dark"
                                        style="margin-left: 60%; margin-top: 4%; margin-bottom: -2%; font-size: small;">08:34</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-4 mt-3">
                            <div class="col-md-4 shadow"
                                style="background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100% 75%, 62% 76%, 80% 95%, 50% 75%, 0% 75%);  ">
                                <div class="text-primary mt-1">

                                </div>
                                <div class="mb-4">
                                    Good Evening<span class="text-dark"
                                        style="margin-left: 38%; margin-top: 2%; font-size: small;">08:04</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 bg-light mt-5">
                                <div class="row mt-4 ml-5">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-0 pl-5">
                                                <a href=""><img src="/assets/images/icons8_Happy_50px.png"
                                                        style="width: 50%;" alt=""></a>
                                            </div>
                                            <div class="col- pl-5">
                                                <a href=""><img src="/assets/images/icons8_Attach_50px.png"
                                                        style="width: 50%;" alt=""></a>
                                            </div>
                                            <div class="col-7 d-flex flex-row">
                                                <input type="" class="rounded-pill pl-3 form-control"
                                                    style=" outline: none;" width="100%" placeholder="Type a message">
                                                <a href=""><img class="ml-4"
                                                        src="/assets/images/icons8_Microphone_64px.png"
                                                        style="width: 30px;" alt=""></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PHONE -->
            <div class="col-12 d-md-none">
                <div class="row">
                    <div class="col-12 col-md- d-flex flex-row">
                        <div class="" style="margin-left: -10%;">
                            <a href="project2.html" class=""><img src="/assets/images/icons8_Long_Arrow_Left_64px_1.png"
                                    style="width: 50%;" alt=""></a>
                        </div>
                        <a href="" style="margin-left: -9%;"><img src="/assets/images/icons8_Male_User_52px_3.png"
                                style="width: 80%;" alt=""></a>
                        <a href="" style="text-decoration: none; color: black; margin-left: 2%;">
                            <h5>Sis Folake</h5>
                            <h6 class="text-muted" style="margin-top: -2%">Online </h6>
                        </a>
                    </div>

                </div>
                <div class="container-fluid mt-4">
                    <div class="row">
                        <div class="col-11 shadow"
                            style="margin-left: -6%;  background-color: bisque; border-radius: 0 8px 8px 8px;">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="mb-4">
                                Hello sir! <span class="text-dark"
                                    style="margin-left: 20%; margin-top: 2%; font-size: small;">08:34</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-4 mr-auto mt-3 ml-5">
                        <div class="col-12"
                            style=" margin-left: 20%; background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100%, 0%);  ">
                            <div class="mb-4">
                                Yes ma! <span class="text-dark"
                                    style="margin-left: 35%; margin-top: 4%; margin-bottom: -2%; font-size: small;">08:34</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 shadow"
                            style=" margin-left: -6%; background-color: bisque; border-radius: 0 8px 8px 8px; ">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="mb-4">
                                Good Evening <span class="text-dark"
                                    style="margin-left: 28%; font-size: small;">02:14</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="h6 pb-1 rounded mx-auto pl-2" style="background-color: darkgrey; width: 35%;">
                                Yesterday
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 shadow"
                            style=" margin-left: -6%; background-color: bisque; border-radius: 0 8px 8px 8px;">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="mb-4">
                                where are you <span class="text-dark"
                                    style="margin-left: 20%; margin-top: 2%; font-size: small;">04:44</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-4 mr-auto mt-3 ml-5">
                        <div class="col-12"
                            style=" margin-left: 20%; background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100%, 0%);  ">
                            <div class="mb-4">
                                School <span class="text-dark"
                                    style="margin-left: 35%; margin-top: 4%; margin-bottom: -2%; font-size: small;">08:34</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 shadow"
                            style=" margin-left: -6%; background-color: bisque; border-radius: 0 8px 8px 8px;">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <div class="mb-2">
                                        Good Evening
                                    </div>
                                </div>
                                <div class="col-2" style="margin-left: -5%;">
                                    <div class="text-dark" style="margin-top: 2%; font-size: small;">08:04</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="h6 pb-1 rounded mx-auto pl-2" style="background-color: darkgrey; width: 25%;">
                                Today
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 shadow mr-5"
                            style=" margin-left: -6%; background-color: bisque; border-radius: 0 8px 8px 8px;">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="mb-4">
                                any brand color <span class="text-dark"
                                    style="margin-left: 20%; margin-top: 2%; font-size: small;">08:34</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-4 mr-auto mt-3 ml-5">
                        <div class="col-12"
                            style=" margin-left: 20%; background-color: bisque; border-radius: 0 8px 8px 8px; clip-path: polygon(0 0, 100% 0, 100%, 0%);  ">
                            <div class="mb-4">
                                not at all <span class="text-dark"
                                    style="margin-left: 35%; margin-top: 4%; margin-bottom: -2%; font-size: small;">08:34</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-11 shadow"
                            style=" margin-left: -6%; background-color: bisque; border-radius: 0 8px 8px 8px; ">
                            <div class="text-primary mt-1">

                            </div>
                            <div class="mb-4">
                                is that all <span class="text-dark"
                                    style="margin-left: 28%; font-size: small;">02:14</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 " style="margin-left: -10%;">
                        <div class="col-12 d-flex flex-row">
                            <a href=""><img class="mt-1" src="/assets/images/icons8_Attach_50px.png" style="width: 90%;"
                                    alt=""></a>
                            <a href=""><img class="mt-1" src="/assets/images/icons8_Happy_50px.png" style="width: 90%;"
                                    alt=""></a>
                            <input type="" class="rounded-pill" style=" padding-left: 10%; outline: none;"
                                placeholder="Type a message">
                            <a href=""><img class="ml-4" src="/assets/images/icons8_Microphone_64px.png"
                                    style="width: 30px;" alt=""></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>