<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-white w-100 h5 pb-2 pt-1" style="background-color: #013159;">
            Thom-Chat
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 text-white" style="background-color: #013159; margin-top: -1%;">
                    <div class=" mt-5 pt-4 ml-4 mb-3">
                        <div><a href="/chatpage"><img src="/assets/images/icons8_Long_Arrow_Left_64px.png" class=""
                                    style="width: 8%;" alt=""></a> Profile</div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-12 text-center bg-light pt-4 pb-4" style="margin-left: -3%;">
                                <img src="/assets/images/icons8_Male_User_52px_3.png" class=""
                                    style="height: 190px; width: 190px;" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="h6 pt-2">
                                    Your name
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <!-- {{username}} -->
                                    </div>
                                    <div class="col-6">
                                        <img class="" src="image/icons8_Pencil_48px.png"
                                            style="width: 10%; margin-left: 55%;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 bg-light pb-3 pt-3 mt-2" style="margin-left: -3%;">
                                This is not your username or pin. This name will be visible to your Thom-Chat Contact.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="h6 pt-2">
                                    About
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        VICTORY
                                    </div>
                                    <div class="col-6">
                                        <img class="" src="image/icons8_Pencil_48px.png"
                                            style="width: 10%; margin-left: 55%;" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>