<div class="container-fluid">
    <div class="row bg">
        <div class="col-md-6">
            <div class="row">
                <div class="col text-white">
                    <!-- <mat-card class="mat-card text-success"> -->
                    <p class="firstp">Yoh!</p>
                    <br><br />
                    <p class="secondp">Yo 'r welcome!</p>
                    <br><br />
                    <p class="thirdp"><b>We are moving more and more towards live chat support, because it make it
                            easier for us to
                            quickly fix problems...</b></p>
                    <button class="btn btn-lg btn-primary" (click)="movetosignup()">Create your room with Us</button>
                    <!-- </mat-card> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>